body{
    /*background-color: #F5F2ED;*/
    background-color: #EAE7E1;
}

h1, h2, h3, p, nav, span{
    font-family: "DM Sans", sans-serif;
}

.pr-txt{
    color: #1E1C1A;
}

.sec-txt{
    color: #6B6560;
}

a:hover{
    color: #B85C38;
}